name: CMake fat

on: [push]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Brew
      run: brew install ragel lemon

    - name: Create Build Environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure CMake
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64"

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: make mpw
      
    - name: Archive
      uses: actions/upload-artifact@v3
      with:
        name: mpw fat
        path: ${{runner.workspace}}/build/bin/mpw
